* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.main-header {
  width: auto;
  height: 60px;
  border: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-logo {
  height: 40px;
  width: 208px;
  margin-left: 2rem;
  margin-bottom: 0.8rem;
  margin-top: 0.4rem;
}
.nav-list1 {
  width: 100%;
  height: 1.875rem;
  margin-bottom: 0.5rem;
}
.product-select {
  margin: 0;
  padding: 0;
  border: 0;
}

.nav-list2 {
  width: 100%;
  height: 1.875rem;
  margin-bottom: 0.6rem;
}
.sign-up-button {
  width: 79px;
  height: auto;
  padding-left: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid black;
  color: hsl(207, 100%, 50%);
}
.four-column-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}
.three-column-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  align-items: center;
}
.content1 {
  width: auto;
  height: auto;
  background-color: hsla(240, 100%, 50%, 0.979);
}
.content1-paragraph {
  width: auto;
  height: auto;
  color: white;
  margin-left: 3rem;
}
.content1-sign-up {
  width: 480px;
  height: auto;
  background-color: white;
  border: 0.125rem solid white;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  margin-left: 2.5rem;
}

input,
label,
button {
  margin: 0;
  padding: 0;
  border: 0;
  border-bottom: 1px solid rgb(245, 243, 243);
}
.create-account-button {
  background-color: hsl(207, 100%, 50%);
  color: white;
}
.grid-auto-flow {
  display: grid;
  grid-auto-flow: row;
  gap: 0.5rem;
  text-align: center;
}
.two-column-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 4px;
}
.content2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 60px 120px 80px;
  border: 1px solid green;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
h2 {
  font-size: 10px;
  text-align: center;
  margin-top: 36px;
}
.icon-inline {
  display: grid;
  grid-template-columns: repeat(6, 120px);
  margin-left: 280px;
  align-items: center;
  justify-items: center;
}
.customer-story-nav {
  font-size: 15px;
  text-align: center;
  margin-top: 36px;
}
/*content3 style*/
.content3 {
  width: auto;
  height: 490px;
}
.content3-main {
  width: auto;
  height: 350px;
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
}

.content3-header {
  font-size: 25;
  text-align: center;
  margin-top: 30px;
}
.content3-leftside-grid {
  width: 150px;
  height: 150px;
  text-align: left;
  padding-top: 10px;
  padding-left: 0;
  border-left: 2px solid black;
  margin-top: 80px;
  margin-left: 150px;
}
.content3-leftside-list {
  margin-left: 20px;
  margin-top: 20px;
}
.content-column2-card1 {
  width: 200px;
  height: 100px;
  padding-top: 30px;
  border: 2px dotted black;
  margin-top: 50px;
}

/* content4 */
.content4-header {
  font-size: larger;
  text-align: center;
}
.content4-main {
  text-align: center;
}
.content4-footer {
  text-align: center;
}
.screenshot {
  width: 500px;
  height: 280px;
  margin-left: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
}
/* content5 */
.content5-header {
  font-size: larger;
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
}
.content5-3columns {
  width: 900px;
  height: 400;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
  margin-left: 150px;
  gap: 100px;
}
.content5-first-column-logo {
  width: 50px;
  height: 50px;
  border-color: 2px dotted black;
  display: grid;
}
/*content6*/
.content6 {
  width: auto;
  height: 530px;
  background-color: hsla(240, 100%, 50%, 0.979);
}
.content6-header {
  text-align: center;
  margin-top: 50px;
  font-size: x-large;
  padding-top: 30px;
}
.content6-two-column {
  width: auto;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
/*content7*/
.content7 {
  width: auto;
  height: 480px;
}
.content7-header {
  width: auto;
  height: 80px;
  font-size: xx-large;
  text-align: center;
}
.screenshot {
  align-items: center;
}
.cnotent7-onecolumn {
  width: auto;
  height: 1fr;
}
/*content8*/
.content8 {
  width: auto;
  height: 160px;
  background-color: hsla(240, 100%, 50%, 0.979);
}
.content8-header {
  width: auto;
  height: 60px;
  font-size: xx-large;
  text-align: center;
}
.content8-header-get-start {
  color: white;
  padding-top: 20px;
}
.create-account-button {
  width: auto;
  height: 120px;
  background-color: hsla(240, 100%, 50%, 0.979);
}
}
.account-button {
  align-items: center;
}

/* footer style */
.bg-blue {
  background-color: #050563;
}
h2 {
  color: rgb(245, 243, 243);
  font-size: 20px;
  margin-right: 200px;
}
.main-footer {
  color: #979494;
}
.footer-5column {
  display: grid;
  grid-template-columns: 430px repeat(4, 1fr);
}
.footer-logo {
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-left: 5px;
  border: 2px dotted black;
}
.footer-social-icon-nav {
  width: 50px;
  height: 50px;
  border: 2px dotted black;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  gap: 1rem;
}
